@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
	@apply w-[300px] h-[300px] md:w-[400px] md:h-[400px];
}

.card__admin {
	@apply flex container__image max-w-[400px] md:max-w-[500px] p-5 md:p-16 md:my-8 bg-gradient-to-br from-amber-400 via-amber-200 to-amber-400 rounded-2xl shadow-lg shadow-black/50;
}
.card__post {
	@apply flex container__image max-w-[400px] md:max-w-[500px] p-5 md:p-16 md:my-8 bg-gradient-to-bl from-indigo-900 via-indigo-400 to-indigo-900 rounded-2xl shadow-lg shadow-black/50;
}

.card__map {
	@apply flex container__image max-w-[400px] md:max-w-[500px] p-5 md:p-16 md:my-8 bg-gradient-to-bl from-green-900 via-green-400 to-green-900 rounded-2xl shadow-lg shadow-black/50;
}

.container__image {
	overflow: hidden;
}

.zoom {
	transition: transform 0.3s;
}

.zoom:hover {
	transform: scale(1.1);
}

.h3 {
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -0.07em;
	text-align: center;
}
@media (min-width: 640px) {
	.h3 {
		font-size: 48px;
	}
}
@media (min-width: 768px) {
	.h3 {
		font-size: 64px;
	}
}
@media (min-width: 1024px) {
	.h3 {
		font-size: 96px;
	}
}

.span {
	color: lightgray;
	display: block;
	line-height: 1.1;
	position: relative;
	padding: 0 6px;
}

.span1::before {
	background: linear-gradient(90deg, rgba(9, 9, 121, 1), rgba(0, 212, 255, 1));
	content: 'Mucha gente pequeña,';
	position: absolute;
	inset: 0;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated 16s infinite;
	animation-delay: 0s;
}

.span2::before {
	background: linear-gradient(
		90deg,
		rgba(152, 59, 142, 1),
		rgba(255, 0, 219, 1)
	);
	content: 'En lugares pequeños,';
	position: absolute;
	inset: 0;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated 16s infinite;
	animation-delay: 4s;
}

.span3::before {
	background: linear-gradient(
		90deg,
		rgba(219, 76, 44, 1),
		rgba(255, 145, 0, 1)
	);
	content: 'Haciendo cosas pequeñas,';
	position: absolute;
	inset: 0;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated 16s infinite;
	animation-delay: 8s;
}

.span4::before {
	background: linear-gradient(90deg, rgb(71, 141, 70), rgba(18, 255, 0, 1));
	content: 'Puede cambiar el mundo.';
	position: absolute;
	inset: 0;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated 16s infinite;
	animation-delay: 12s;
}

@keyframes animated {
	0%,
	25%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}
